<!DOCTYPE html>
<html>
  <head>

    <title>SMS Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <style type="text/css">
        #login {
            max-width: 400px;
            padding-top: 100px;
            margin: 0 auto;
        }
        #login input {

        }
    </style>

  </head>

  <body>

      {% block content %}{% endblock %}

  </body>
</html>
